[Unit]
Description=les troyens album web application

[Service]
WorkingDirectory=/home/flaxscrip/music-demo
Environment=KC_GATEKEEPER_PORT=4224
Environment=KC_GATEKEEPER_URL='http://mdip-gatekeeper'
Environment=KC_KEYMASTER_PORT=4241
Environment=KC_NODE_ID=les_troyens_owner
Type=simple
ExecStart=/home/flaxscrip/.nvm/versions/node/v18.20.2/bin/node index.js
User=flaxscrip

[Install]
WantedBy=multi-user.target
