DIDEX_OWNER_DID=
DIDEX_WALLET_PASSPHRASE=
DIDEX_DATABASE=json
DIDEX_HOST_PORT=3000
DIDEX_HOST_URL=http://localhost:3000
DIDEX_GATEKEEPER_URL=http://host.docker.internal:4224
DIDEX_WALLET_URL=http://host.docker.internal:4224
