DIDEX_OWNER_DID=
DIDEX_SERVE_CLIENT=true
DIDEX_CORS_SITE_ORIGIN=http://localhost:3009
DIDEX_DATABASE=json
DIDEX_HOST_PORT=3009
DIDEX_HOST_URL=http://localhost:3009
DIDEX_GATEKEEPER_URL=http://localhost:4224
DIDEX_WALLET_URL=http://localhost:4224
