[Unit]
Description=Demo music album secured with MDIP authentication

[Service]
WorkingDirectory=/home/flaxscrip/music-demo
Environment=AD_HOST_PORT=3690
Environment=AD_HOST_URL=https://music.mdip.yourself.dev
#Environment=AD_KEYMASTER_URL=http://localhost:4241
Environment=AD_GATEKEEPER_URL=http://mdip-gatekeeper:4224
Environment=AD_WALLET_URL=https://wallet.mdip.yourself.dev
Environment=AD_KEY_FILE=localhost-key.pem
Environment=AD_CERT_FILE=localhost.pem
Type=simple
User=flaxscrip
ExecStart=start-demo

[Install]
WantedBy=multi-user.target
